@page "/"

@using System.ComponentModel
@using WebApp.ViewModels
@implements IDisposable
@inject HomeModel HomeModel

<div id="map" style="height:400px"></div>

<MudDrawer @bind-Open="HomeModel.OpenDetails"
           Anchor="Anchor.Bottom"
           Variant="DrawerVariant.Temporary"
           Class="bottom-panel"
           Elevation="10"
           Overlay="true">

    <MudText Typo="Typo.h6">Panel od dołu</MudText>
    <MudText>To jest wysuwany widok.</MudText>

    <MudButton OnClick="HomeModel.HideDetailsCommand.Execute">Zamknij</MudButton>
</MudDrawer>

@code {
    protected override void OnInitialized()
    {
        HomeModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }   
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
            await HomeModel.ShowGiosOnMapCommand.ExecuteAsync(null);
    }
    
    public void Dispose()
    {
        HomeModel.Dispose();
        HomeModel.PropertyChanged -= OnViewModelPropertyChanged;
    }
}