@page "/"

@using WebApp.ViewModels

@inherits BaseView<HomeModel>

@inject HomeModel HomeModel

<div id="map" style="height:400px"></div>

<MudDrawer @bind-Open="HomeModel.OpenDetails"
           Anchor="Anchor.Bottom"
           Variant="DrawerVariant.Temporary"
           Class="bottom-panel"
           Elevation="10"
           Overlay="true">

    <MudText Typo="Typo.h6">Panel od dołu</MudText>
    <MudText>To jest wysuwany widok.</MudText>

    <MudButton OnClick="HomeModel.HideDetailsCommand.Execute">Zamknij</MudButton>
</MudDrawer>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
            await HomeModel.ShowGiosOnMapCommand.ExecuteAsync(null);
    }
}