@page "/"

@inject IJSRuntime JS

<div id="map" style="height:400px"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initLeafletMap", 52.2297, 21.0122);
        }
    }
}