@page "/counter"
@using GiosApp.ViewModels
@inject CounterViewModel CounterPage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<p role="status">Current count: @CounterPage.Count</p>

<button class="btn btn-primary" @onclick="CounterPage.IncrementCommand.Execute">Click me</button>