.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.card {
    flex: 1;
    overflow: hidden;
    border-radius: 16px;
}

/* Ant Design v5 no bodyStyle */
.cardBody {
    padding: 0;
    height: 100%;
    overflow: auto;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.emptyState {
    margin-top: 40px;
}

.collapseItem {
    padding: 0;
}


